@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700,800&display=swap&subset=cyrillic');
*,html
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}
body
{
	overflow-x: hidden;
}
a{
	text-decoration: none;
}
ul,ol
{
	list-style: none;
}
p
{
	font-weight: 300;
	font-size: 16px;
	font-family: montserrat;
	color: #8c8c8c;
}

	/*---------------header area start---------------*/
	#header
	{
	   z-index: 9;
       position: relative;
       padding-top: 60px;  
    }
	.navbar 
	{
		padding: 0;
	}
	#header img
	{
		margin-right: 0px;

	}
.navbar-nav .nav-link
{
	padding: 0!important;
	margin: 0!important;
	padding: 0 15px!important;
}
.navbar-brand {
    display: inline-block;
    padding-top: 0rem!important;
    padding-bottom: 0rem!important;
    margin-right: 0rem!important;
    font-size: 0rem;
    line-height: inherit;
     white-space: nowrap;
}
li.nav-item.pl-30 {
padding-left: 30px
}
#header a
{
	color: #fff;
	transition: all linear 0.3s;
	font-size: 14px;
	font-weight: 400;
}
#header a:hover
{
	color: rgb(167,151,132);
}
/*---------------header area end---------------*/
/*------------slider start-------*/

section.slider {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 
}
.carousel-caption
{
	top: 50%;
	transform: translateY(-50%);
	bottom: initial!important;
}
.carousel-caption h5
{
	color: #fff;
	font-size: 42px;
}
.d-block
{
	height: 650px;
	width: 100%;
}
section.slider p
{
	font-size: 16px;
	font-weight: 400;
	margin: 0!important;
	padding-top: 31px;
}
section.slider h5
{
	font-size: 36px;
	font-weight: 400;
	margin: 0!important;

}
section.slider h4
{
	font-size: 52px;
	font-weight: 800;
	padding-top: 24px;
	margin: 0!important;

}
section.slider h3 a
{   
	margin: 0!important;
	font-size: 16px;
	font-weight: 600;
	color: #fff;
	border:1px solid #998675;
	padding: 16px 28px;
	background: #998675;
	box-shadow: 0px 3px 3px 0px #736357;
	border-radius: 2px;

}
section.slider h3
{   
	margin: 0!important;
	padding-top: 55px;
}
.carousel-indicators li
{
	height: 8px;
	width: 8px;
	border-radius: 50%;
}

/*------------slider end-------*/

/*------------services area start-------*/


#servicesarea h3
{
font-weight: 600;
font-family: raleway;
color: #8e8e8e;
font-size: 22px;
transition:all linear 0.3s;

}
#servicesarea p
{
font-weight: 300;
font-family: montserrat;
color: #8c8c8c;
font-size:14px;
}
#servicesarea p::after {
    content: '';
    background: #f1eee9;
    height: 3px;
    width: 70px;
    display: block;
    position: relative;
    left: 37%;
    margin-top: 30px;
    transition:all linear 0.3s;
}
#servicesarea .col-lg-3:hover h3
{
	color: #998675;
}
#servicesarea .col-lg-3:hover i
{
	color: #998675;
}
#servicesarea .col-lg-3:hover p::after
{
	background: #998675;
}



   /*------------services area end-------*/


   /*------------presentation area end-------*/
   section#presentation-area img {
    padding-top: 260px;
}

   #presentation-area
   {
   	background-image: url(../images/img7bg.jpg);
   	background-size: cover;
   	background-attachment: fixed;
   	background-position: center;
   	text-align: center;
   }
   #presentation-area h5
   {
   	color: #fff;
   	font-family: raleway;
   	font-weight: 500;
   	font-size: 30px;
   }
   #presentation-area p
   {
   	color: #fff;
   	padding-bottom: 260px;
   }


   /*------------presentation area end-------*/

/*-----------------realisation area start------------*/
#realisation
{
	margin-top: -24px;
}
.img-cap{
	position: relative;
	top: 140px;
}
#realisation h2
{
	font-size: 30px;
	font-weight: 600;
	font-family: raleway;
	color: #555555;
}
/*-----------------realisation area start------------*/

/*----------purchase area start---------*/
#purchasearea
{
	background:linear-gradient(to right,#271e1b,#4a3126);
}
#purchasearea h4
{
	padding-top: 40px;
	color: #fff;
	font-size: 28px;
	font-family: raleway;
	font-weight: 400;
}
#purchasearea p
{
	padding-bottom: 40px;
}
 #purchasearea a
{   
	
	font-size: 16px;
	font-weight: 600;
	color: #fff;
	border:1px solid #998675;
	padding: 16px 28px;
	background: #998675;
	box-shadow: 0px 3px 3px 0px #736357;
	border-radius: 2px;

}
.col-lg-3.m-90 {
    display: flex;
    align-items: center;
    justify-content: center;
}
/*----------purchase area start---------*/

/*----------project area start---------*/
section.projectarea.text-center
{
  margin-top: 80px;
  padding: 0 40px;
}
.projectarea h2
{
	font-weight: 600;
	font-size: 30px;
	font-family: raleway;
	color: #555555;
}
.projectarea .pb-60 a
{
	border:1px solid #ebebeb;
	margin: 5px;
	padding: 4px;
	color: #8c8c8c;
	transition: all linear 0.3s;
}
.projectarea .pb-60
{
	padding-bottom: 30px;
}
.projectarea a:hover
{
	background: #998675;
	color: #fff;
	text-decoration: none;
}
.projectarea h3
{
	color: #d7c7b5;
	font-family: ralway;
	font-size: 18px;
	font-weight: 500;
}
.projectarea h3::before
{
	content: '';
    height: 20px;
    width: 20px;
    direction: block;
    display: block;
    background: #fbfaf8;
    transform: rotate(45deg);
    position: relative;
    left: 25px;
    top: -10px;
}
.projectarea span
{
  color: #8c8c8c;
  font-size: 14px;
  font-family: montserrat;
  font-weight: 300;
}
.projectarea .bc
{
	background: #fbfaf8;
}
.projectarea .bc:hover
{
  background: #362f2d;
}
.projectarea .bc:hover h3
{
  color: #fff;
}.projectarea .bc:hover span
{
  color: #d7c7b5;
}.projectarea .bc:hover .projectarea h3::before
{
  color:#362f2d;
}
.projectarea .row.p-15 {
    padding: 30px 0 50px 0;
}
.projectarea .a-desgn a
{   
	margin: 0!important;
	font-size: 16px;
	font-weight: 600;
	color: #fff;
	border:1px solid #998675;
	padding: 16px 28px;
	background: #998675;
	box-shadow: 0px 3px 3px 0px #736357;
	border-radius: 2px;
}
.projectarea .a-desgn
{
	padding-bottom:80px;
}
/*----------project area start---------*/
/*----------project area start---------*/

#content
{
	padding-top: 75px;
}
#content .col-lg-7
{
	margin-top: 110px;
}
#content ul
{
	margin-left: 50px;
}
#content ul li
{
	font-weight: 300;
	font-size: 16px;
	font-family: montserrat;
	color: #8c8c8c;
}
/*----------project area start---------*/

/*----------counter area start---------*/

#counter-area
{
	background:linear-gradient(to right,#271e1b,#4a3126);
}
#counter-area .p-80
{
	padding-bottom: 80px;
}
#counter-area i
{
	padding-top: 68px;
	color: #c5b098;
	font-size: 40px;
}
#counter-area p
{
	color: #fff;
	font-size: 40px;
	padding: 28px 0 14px 0;
}
#counter-area span
{
	font-weight: 300;
	font-size: 14px;
	font-family: montserrat;
	color:#c5b098;
}
#counter-area span::after
{
	content: '';
    height: 2px;
    width: 35px;
    direction: block;
    display: block;
    background: #fbfaf8;
    position: relative;
    left: 63px;
    top: 17px;
}
/*----------counter area end---------*/




/*----------recentpost area start---------*/
#recentpost
{
	padding: 80px 0;
}

.recentpost-bc {
    background: #fbfaf8;
    padding: 0 10px;
}
.recentpost-bc {
    background: #fbfaf8;
}
#recentpost h2
{
	font-weight: 600;
	font-size: 30px;
	font-family: raleway;
	color: #000;
	margin-bottom: 0;
}
#recentpost p
{
	font-weight: 300;
	font-size: 16px;
	font-family: montserrat;
	color: #8c8c8c;
	padding: 30px 0;
	margin-bottom: 0;
}#recentpost .recentpost-bc h3
{
	font-weight: 500;
	font-size: 20px;
	font-family: raleway;
	color: #000;
	margin-bottom: 0;
	padding: 10px 0;
}
#recentpost .recentpost-bc p
{
	font-weight: 300;
	font-size: 14px;
	font-family: montserrat;
	color: #8c8c8c;
	margin-bottom: 0;
}#recentpost .recentpost-bc a
{
	font-weight: 300;
	font-size: 14px;
	font-family: montserrat;
	color: #998675;
	margin-bottom: 0;
	padding: 30px 0;
}
#recentpost .recentpost-bc:hover
{
	background: #362f2d;
	color: #fff;
}#recentpost .recentpost-bc:hover h3
{
	color: #998675;
}

/*----------recentpost area end---------*/

/*----------clients-area start---------*/
#clients-area
{
	background-image: url(../images/img12.jpg);
	padding: 80px;
	background-position: center;
	background-size: cover;
}
/*----------clients-area end---------*/

/*----------about-area end---------*/

#about-area .col-lg-6,.row
{
	width: 100%;
	margin: 0;
	padding: 0;
}
#about-area .col-lg-6
{
	padding: 2px;
}
#about-area
{
	background: #191919;
}
#about-area .col-lg-3 
{
	padding-top: 80px;
}
#about-area .col-lg-3  h3
{
	padding-bottom:  30px;
	font-size: 24px;
	font-weight: 700;
	font-family: raleway;
	color: #fff;
	padding-top: 12px;

}
#about-area .col-lg-3  p
{
	font-size: 14px;
	font-weight: 300;
	font-family: montserrat;
	color: #8c8c8c;

}
#about-area .col-lg-3  img
{
	padding-bottom: 0px;
}
/*----------about-area end---------*/





@media (max-width: 575.98px) 
{ 
    section#header-area
    {
    	max-width: 100%!important;
    }
    ul.navbar-nav.ml-auto {
    text-align: center;
}
li.nav-item {
    padding: 4px;
}
#purchasearea a
{
	margin-bottom: 20px;
}
.projectarea .col-lg-4 {
    padding-bottom: 34px;
}
#counter-area span::after
{
	left: 201px;
}

#recentpost .col-lg-4 {
    padding-bottom: 20px;
}
#about-area .col-lg-6 {
    padding: 0px;
    width: 25%;
    text-align: center;
}
#about-area .col-lg-3 img {
    padding-bottom: 23px;
    padding-right: 23px;
}
#realisation img.img-fluid {
    padding-top: 95px;
}
}
